:root {
    --first-color: #2196f3;
    --second-color: #000000;
    --third-color: #757575;
    --fourth-color: #ffffff;
    --fifth-color: #2f303a;
    --sixth-color: #f5f4fa;
    --seventh-color: #212121;
    --eighth-color: #ffffff99;
    --color-shadow: #00000040;
    --circle-color: rgba(255, 255, 255, 0.1);
    --currentColor: #afb1b8;
    --cross-color: rgba(0, 0, 0, 0.1);
    --input-color: rgba(255, 255, 255, 0.6);
    --input-color2: rgba(117, 117, 117, 0.5);
}

.studio-two {
    color: #ffffff;
}

.description {
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.18;
    color: var(--third-color);
}
.name {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    color: var(--second-color);
}
.filters {
    color: var(--second-color);
    background-color: var(--sixth-color);
    cursor: pointer;
    border: none;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
}
.filters:hover,
.filters:focus,
.filters:active {
    color: var(--fourth-color);
    background-color: var(--first-color);
}
.foto-description {
    color: var(--third-color);
    font-family: "Roboto";
    font-size: 16px;
    line-height: 1.8;
}
.project-name {
    color: var(--seventh-color);
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
}
.address-name {
    font-family: "Roboto";
    font-size: 14px;
    line-height: 1.7em;
    letter-spacing: 0.03em;
    color: #ffffff;
}
.footer-links {
    color: var(--eighth-color);
    font-family: "Roboto";
    font-size: 14px;
    line-height: 1.7em;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.footer-links:hover,
.footer-links:focus,
.footer-links:active {
    color: var(--first-color);
}

.header-box {
    width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-section {
    display: flex;
    flex-direction: column;
    background-color: var(--sixth-color);
    padding: 0;
}

.members {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-bottom: 94px;
    margin: 0;
    justify-content: center;
}
figure {
    margin: 0;
    padding: 0;
    max-width: 270px;
}
.team {
    display: flex;
    max-width: 270px;
}
.members > .team:not(:last-child) {
    margin-right: 30px;
}
.foto-description {
    display: flex;
    padding: 0;
    margin: 0;
    background-color: var(--fourth-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.photo {
    min-width: 270px;
    min-height: 260px;
    padding: 0;
    margin: 0;
}
.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 30px 0;
}
.name {
    margin-bottom: 10px;
}

.footer-box {
    width: 1600px;
    height: 252px;
    background-color: var(--fifth-color);
}
.footer-contact {
    display: flex;
}
.footer-contact-container {
    display: flex;
    margin-top: 60px;
}
.footer-social {
    margin-left: 70px;
}
.footer-join-us {
    color: var(--fourth-color);
    text-transform: uppercase;
    margin-top: 72px;
    margin-bottom: 20px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 3%;
}
.footer-icon-list {
    display: flex;
}
.logo-footer {
    margin-right: auto;
    margin-left: 215px;
    margin-bottom: 20px;
}
.details {
    margin-left: 215px;
}
.footer-box > .details:not(:last-child) {
    margin-bottom: 9px;
}
.footer-box > .details:first-child {
    margin-top: 20px;
}

.buttons {
    margin-bottom: 34px;
    padding: 0;
}
.buttons-list > .buttons:not(:last-child) {
    margin-right: 8px;
}
.buttons-list {
    display: flex;
    justify-content: center;
    margin-top: 94px;
    margin-bottom: 50px;
}
.filters {
    border-radius: 4px;
    padding: 6px 22px;
}
.grid {
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
}
.main-page {
    padding: auto;
    margin-left: 215px;
    margin-right: 0;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 94px;
    gap: 30px;
    flex-basis: ((100%-60px)/3);
}
.img {
    display: block;
    max-width: 370px;
    max-height: 294px;
}
.grid-items {
    max-width: 370px;
}

.cards {
    max-width: 370px;
    max-height: 404px;
    background: var(--fourth-color);
}
.description2 {
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}

.card-name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--third-color);
}

.team-section {
    width: 1600px;
    height: 648px;
}
.team-header {
    width: 209px;
    height: 42px;
}
.team-header {
    margin-left: 0;
    margin-right: 0;
    margin-left: 696px;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.cards:hover,
.cards:focus,
.cards:active {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
.filters:hover,
.filters:focus,
.filters:active {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
.footer {
    display: flex;
}
.footer-list {
    display: flex;
    flex-direction: row;
}
.social-list {
    display: flex;
}
.social-list-items {
    margin-top: 16px;
}
.social-list-items:not(:last-child) {
    margin-right: 10px;
}
.footer-social-icons {
    background-position: center;
}
.email {
    text-decoration: underline;
}
.footer-icon-item:not(:last-child) {
    margin-right: 10px;
}
.our-clients {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--second-color);
    margin-bottom: 50px;
    margin-left: 410px;
}
.clients-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    margin: 0;
    margin-left: 215px;
}
.footer-icon-circle {
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-color: var(--circle-color);
    padding: 12px;
}

.social-icons {
    fill: var(--currentColor);
}
.social-icons:hover,
.social-icons:focus,
.social-icons:active {
    fill: var(--fourth-color);
}
.icon-circle {
    width: 44px;
    height: 44px;
    border-radius: 50px;
    padding: 12px;
    background-color: var(--fourth-color);
}
.icon-circle:hover,
.icon-circle:focus,
.icon-circle:active {
    background-color: var(--first-color);
}
.icon-circle:hover > svg,
.icon-circle:focus > svg,
.icon-circle:active > svg {
    fill: var(--fourth-color);
}

.logo-client {
    fill: var(--currentColor);
}
.logo-client:hover,
.logo-client:focus,
.logo-client:active {
    fill: var(--first-color);
}
.clients-item {
    border: 1px solid var(--currentColor);
    border-radius: 3px;
}
.clients-item:hover,
.clients-item:focus,
.clients-item:active {
    border: 1px solid var(--first-color);
}
.clients-item {
    fill: var(--currentColor);
}
.clients-item:hover .clients-icon,
.clients-item:focus .clients-icon,
.clients-item:active .clients-item {
    fill: var(--first-color);
}
.footer-icon {
    fill: var(--fourth-color);
}
.footer-icon-circle {
    width: 44px;
    height: 44px;
    border-radius: 50px;
    padding: 12px;
    background-color: var(--circle-color);
}
.footer-icon-circle:hover,
.footer-icon-circle:focus,
.footer-icon-circle:active {
    background-color: var(--first-color);
}

.first-button {
    background-color: var(--fourth-color);
    color: var(--second-color);
    transition-property: color background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.first-button:hover,
.first-button:focus {
    background-color: var(--first-color);
    color: var(--fourth-color);
}

.icon-circle {
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-circle > .social-icons {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-item svg {
    border: var(--currentColor);
    fill: var(--currentColor);
    transition-property: fill border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-links {
    color: var(--eighth-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-circle {
    background-color: var(--circle-color);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filters {
    color: var(--second-color);
    background-color: var(--sixth-color);
    transition-property: color background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filters:hover,
.filters:focus {
    background-color: var(--first-color);
    color: var(--fourth-color);
}
.cards {
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-box {
    position: relative;
    overflow: hidden;
}
.portfolio-overlays {
    --overlay-color: rgba(33, 150, 243, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 294px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--overlay-color);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #ffffff;
    padding: 49px 45px 49px 24px;
}
.grid-items:hover .portfolio-overlays,
.grid-items:focus .portfolio-overlays {
    transform: translateY(0);
}

.second-page:after {
    content: "";
    background-color: var(--first-color);
    border-radius: 2px;
    height: 4px;
    width: 58px;
    margin: 0;
    padding: 0;
    margin-top: 28px;
    display: block;
}

.newsletter-head {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.03em;
    color: var(--fourth-color);
    margin-top: 72px;
    margin-left: 78px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.input-area {
    background-color: var(--fifth-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 78px;
    position: absolute;
    width: 358px;
    height: 50px;
    outline: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-footer {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 1185px;
    background-color: var(--first-color);
    border: none;
    border-radius: 4px;
    color: var(--fourth-color);
    box-shadow: 0px 4px 4px 0px #00000026;
    display: flex;
    cursor: pointer;
}

.sign-up {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8em;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--fourth-color);
    margin: 10px 24px 10px 42px;
}

.icon-send {
    fill: var(--fourth-color);
    height: 24px;
    width: 24px;
    margin-top: 10px;
}

.input-area::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25em;
    letter-spacing: 0.03em;
    color: var(--input-color);
}

.input-area:active,
.input-area:focus,
.input-area:hover {
    border: 1px solid var(--first-color);
    outline: none;
}

.textInput {
    color: var(--currentColor);
    font-family: "Roboto";
}
