.contacts {
    display: flex;
    align-items: center;
    padding-left: 0;
}
&__list {
    height: 16px;
}
&__link {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14em;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $text-color;
}
.contacts__link:hover,
.contacts__link:focus,
.contacts__link:active {
    color: $brand-color;
}
.contacts > .contcts__list {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.contacts > .contcts__list:not(:last-child) {
    margin-right: 50px;
}

&__icon {
    fill: $current-color;
    margin-right: 10px;
}
