.header {
    border-bottom: 1px solid;
    display: flex;
    justify-content: center;

    &__container {
        width: 1200px;
        height: 80px;
        display: flex;
        justify-content: center;
    }
}
