.nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__menu {
        display: flex;
        padding-left: 0;
        margin-right: 371px;
    }
    &__link {
        font-family: "Roboto";
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14em;
        text-decoration: none;
        color: $main-color;
        &:hover,
        &:focus,
        &:active {
            color: $brand-color;
        }
    }
    .nav__menu > .nav__list:not(:last-child) {
        margin-right: 46px;
    }
}
