body {
    font-family: "Roboto", sans-serif;
    font-family: inherit;
    background: $white-color inherit;
    width: 1600px;
}
.container {
    max-width: 1200px;
    margin: 0;
}
li {
    list-style: none;
}
